@using MudBlazor
@using MudBlazor.Components

<div class="HeaderTemplate">
    <MudItem xs="12">
            <MudImage Src="images/HOA.png" Alt="NSAH HOA Logo" Class="rounded-lg" Style="max-width: 100%; height: auto;" />
    </MudItem>
    <MudItem xs="12" class="d-flex justify-center">
        <MudText Typo="Typo.h4" Align="Align.Center">Follow us on social media</MudText>
    </MudItem>
    <MudItem xs="12" class="d-flex justify-center">
        <SocialMediaLinks />
    </MudItem>
</div>