
<MudPaper Class="pa-4">
    <MudGrid>
        <MudItem xs="12" md="6">
            <MudCard Style="height: 100%;">
                <MudCardContent>
                    <MudLink Href="https://forms.office.com/Pages/ResponsePage.aspx?id=DQSIkWdsW0yxEjajBLZtrQAAAAAAAAAAAAMAABxo201URFowOVc0NzZTVUVGSThDTTRPSzhJRVhXTC4u" Target="_blank">
                        <MudButton Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.Send" Color="Color.Primary">Provide Feedback</MudButton>
                    </MudLink>
                    <p>Have an issue, complaint, or want to let your HOA Board know how we can do better?</p>
                </MudCardContent>
            </MudCard>
        </MudItem>
        <MudItem xs="12" md="6">
            <MudCard Style="height: 100%;">
                <MudCardContent>
                    <MudLink Href="https://forms.office.com/r/kG3HjSEWW1" Target="_blank">
                        <MudButton Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.Phone" Color="Color.Primary">Submit Contact Information</MudButton>
                    </MudLink>
                    <p>Help us build out our community contact information to keep you informed of community events</p>
                </MudCardContent>
            </MudCard>
        </MudItem>
    </MudGrid>
</MudPaper>