@using MudBlazor
@using MudBlazor.Components

<div class="SocialMediaLinks">
    <MudLink Href="https://www.facebook.com/profile.php?id=61564446704590&mibextid=LQQJ4d" Target="_blank">
        <MudIcon Icon="@Icons.Custom.Brands.Facebook" Size="Size.Large" Color="Color.Primary" />
    </MudLink>
    <MudLink Href="https://www.instagram.com/nsah_hoa?igsh=MWs0Z3F0cWx6NjIyZg==" Target="_blank">
        <MudIcon Icon="@Icons.Custom.Brands.Instagram" Size="Size.Large" Color="Color.Secondary" />
    </MudLink>
</div>